.menu {
    padding-bottom: 100px;
}
.menu_items {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    flex-wrap: wrap;
}
.header{
    text-align: center;
    max-width: 557px;
    margin: 100px auto 50px;
}

.header_title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Banny';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.header_suptitle {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #000000;
}
.list {
    margin: 0 auto;
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list_item{
    padding: 21px 41px;
    cursor: pointer;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    text-transform: uppercase;
}
.list_active {
    color: #E8C300; 
}
.menu_item {
    font-family: 'Banny', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 0px;
    text-transform: uppercase;
    flex-basis: 30%;
}

.menu_bottomText {
    font-size: 12px;
    line-height: 18px;
    color: rgba(51, 51, 51, 0.5);
    margin-top: 0px;
}

.inner {
    margin-top: 51px;
    min-width: 100%;
    transition: transform 1.5s;
}

.specialties_inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slider{
    text-align: center;
    margin-top: 45px;
}
.slider_item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #998C88;
    margin-left: 30px;
    cursor: pointer;
}