.private {
    background: url("../image/team-bg.jpg") no-repeat center top/cover;
    padding-bottom: 45px;
    margin-top: 0;
}

.txt {
    color: #FFFFFF;
    position: absolute;
    width: 100.5%;
    height: 17%;
    background: black;
    top: 41.7%;
    font-family: 'Banny', sans-serif; 
    font-weight: bold;
    font-size: 24px;
    line-height: 12px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding:  28px 20px;
}
.txt.left {
    transform: rotate(90deg);
    left: 42%;
}
.txt.right {
    transform: rotate(-90deg);
    right: 42%;
}
.footer {
    text-align: center;
}
.footer_text {
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 45px;
}

@media(max-width: 894px) {
    .inner{
        display: flex;
        flex-direction: column;
    }
    .img_inner {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .txt {
        display: none;
    }
}