.header{
    background: hsl(0, 4%, 5%);
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2px;
}
.header_menu_link {
    font-weight: bold;
    padding: 15px 15px;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.header_menu_link:hover {
    outline: 1px solid #E8C300;
}
.header_menu_link.active{
    outline: 1px solid #E8C300;
}
.header_media {
    background: hsl(0, 4%, 5%);
    display: none;
    box-sizing: border-box;
    padding: 4px 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5; 
}
.gamburger_media_inner {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
}
.header_child {
    position: absolute;
    height: 6px;
    background:#E8C300;
    width: 30px;
}
.child1 {
    top:0;
}
.child2{
    top: 12px;
}
.child3{
    bottom: 0;
}

@media(max-width: 690px) {
    .header_media {
        display: flex;
        justify-content: right;
    }
    .header_wrapper {
        display: flex;
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: 0;
        box-sizing: border-box;
        right: -150px;
        background: hsl(0, 4%, 5%); 
        z-index: 10;
        transition: 0.5s;
    }
    .header_wrapper.active {
        right: 0;
        padding: 2vh 0 4vh;
    }
    .window {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(3, 1, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 2;
    }
}

