
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1279px;
  margin: 0 auto;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 20px;
    color: #FFFFFF;
    margin: 35%;
}

.yellow_strip {
  position: relative;
}
.yellow_strip:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 6px;
  background: #E8C300;
  right: calc(50% - 30px);
  bottom: -15px;
}

input:focus,
select:focus,
textarea:focus {
  outline: 1px solid #E8C300;
}