.book {
    padding-top: 100px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_inner {
    margin-right: 8%;
}
.title {
    font-size: 36px;
    line-height: 48px;
    font-family: 'Banny';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.left_inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.left_item {
    width: 257px;
    height: 60px;
    background: #E5E5E5;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 14px;
    line-height: 19px;
}

.left_item:first-child {
    margin-right: 10px;
}

.book_img {
    position: relative;
    width: 37%;
    margin-right: 12%;
    max-height: 475px;
}

.book_image {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px #BBBBBB;
}

.book_img:before {
    content: '';
    position: absolute;
    width: 52%;
    height: 52%;
    outline: 20px solid #E8C300;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    top: 26%;
    right: -25%;
}
.select{
    width: 290px;
    padding: 0 20px;
    appearance: none;
    background-image: url("../image/arrow_book.png");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 94%;
}

.btn {
    background: #E8C300;
    width: 100%;
    border: none;
    color: #FFFFFF; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 0;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.footer {
    text-align: center;
    margin: 45px 0;
}

.footer_text {
    font-size: 12px;
    line-height: 12px;
    color: rgba(51, 51, 51, 0.5);
}

.footer_text_bold{
    font-weight: bold;
}